<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>


  <!-- PASSO 1 -->

  <!--<configSections>
    -->
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  <!--
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>-->
  <!-- PASSO 1 END -->
  
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;Initial Catalog=aspnet-WebSiteTutorial-abaae6b0-3a51-4b73-a107-e066248960f9;AttachDbFilename=|DataDirectory|\aspnet-WebSiteTutorial-abaae6b0-3a51-4b73-a107-e066248960f9.mdf;Integrated Security=SSPI"
      providerName="System.Data.SqlClient" />
    <add name="TW2ProjectConnectionString" connectionString="Data Source=RV;Initial Catalog=TW2Project;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>


  <system.web>
    <!--<authentication mode="None" />-->
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />

    <pages>
      <namespaces>
        <add namespace="System.Web.Optimization" />
        <!-- PASSO 2 -->
        <!--<add namespace="Microsoft.AspNet.Identity" />-->
        <!-- PASSO 2 END -->
      </namespaces>
      <controls>
        <add assembly="Microsoft.AspNet.Web.Optimization.WebForms" namespace="Microsoft.AspNet.Web.Optimization.WebForms" tagPrefix="webopt" />
      </controls>
    </pages>


    <!-- PASSO 3 START -->
 <!--
    <membership>
      <providers>
        --><!--
	      ASP.NET Membership is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        --><!--
        <clear />
      </providers>
    </membership>
    
    <profile>
      <providers>
        --><!--
	      ASP.NET Membership Profile is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        --><!--
        <clear />
      </providers>
    </profile>
    <roleManager>
      --><!--
	        ASP.NET Membership Role is disabled in this template. Please visit the following link http://go.microsoft.com/fwlink/?LinkId=301889 to learn about the ASP.NET Membership support in this template
        --><!--
      <providers>
        <clear />
      </providers>
    </roleManager>
    
-->
<!-- PASSO 3 END -->
    
    <!--
            If you are deploying to a cloud environment that has multiple web server instances,
            you should change session state mode from "InProc" to "Custom". In addition,
            change the connection string named "DefaultConnection" to connect to an instance
            of SQL Server (including SQL Azure and SQL  Compact) instead of to SQL Server Express.
      -->
    
    
    <!-- PASSO 4 -->
    <!--<sessionState mode="InProc" customProvider="DefaultSessionProvider">
      <providers>
        <add name="DefaultSessionProvider" type="System.Web.Providers.DefaultSessionStateProvider, System.Web.Providers, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" connectionStringName="DefaultConnection" />
      </providers>
    </sessionState>-->
    <!-- PASSO 4 END -->

    <!-- AULA START-->

    <!-- accionar a autenticacao da framework   name="nome do token" loginUrl="pagina onde é redireccionado caso nao seja" -->
    <!--<authentication mode="Forms">
      <forms name=".NOSSAAPP" loginUrl="Login.aspx" defaultUrl="~/Admin"></forms>
    </authentication>-->

    <!--<authorization>
      --><!--   <deny users="?"/> negar o acesso a anónimos --><!--
      <allow users="?"/>
    </authorization>-->

    <!-- AULA END -->


    <customErrors mode="On" defaultRedirect="~/ErrorPage.aspx">
      <error statusCode="404" redirect="~/ErrorPage.aspx"/>
    </customErrors>


  </system.web>

  <!-- AULA START -->

  <!-- permitir o acesso aos ficheiros dentro da pasta Admin quando for um Administrador a logar -->
  <!--<location path="Admin">
    <system.web>
      <authorization>
        <allow roles="TW_ADMIN" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->

  <!-- permitir o acesso aos ficheiros dentro da pasta User quando for um User a logar -->
  <!--<location path="User">
    <system.web>
      <authorization>
        <allow roles="TW_USER" />
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>-->
  
  <!-- para criar outros acessos é repetir o trecho de código acima-->


  <!-- AULA END -->



  <!--<appSettings>-->
    <!--<add key="owin:AutomaticAppStartup " value="false" />-->
    <!--<add key="owin:appStartup" value="MinhaClasse" />-->
  <!--</appSettings>-->
  
  
<!-- PASSO 5 START -->
 <!--
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
    </modules>
  </system.webServer>
 -->
  <!-- PASSO 5 END -->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <!--<dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->
      <!--<dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" culture="neutral" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>-->
    </assemblyBinding>
  </runtime>

  
  
  <!-- PASSO 1-->
  <!--<entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>-->
  <!-- PASSO 1 END -->
</configuration>